/* generate-graph.css */

/* Bootstrap Overrides */
.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.btn-primary:hover {
    background-color: #17a2b8; /* Bootstrap darker primary shade */
    border-color: #17a2b8; /* Bootstrap darker primary shade */
}

/* Custom Styles */
.wrapper {
    margin-top: 70px;
    text-align: center;
}

header {
    font-size: 24px;
    color: var(--first-color);
    margin-bottom: 20px;
}

.file-input {
    display: none;
}

i.fas {
    font-size: 64px;
    color: var(--second-color);
    cursor: pointer;
}

p {
    font-size: 18px;
    color: var(--first-color);
    margin-top: 10px;
}

.progress-area {
    margin-top: 20px;
}

.uploaded-area {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}