/* styles.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #FFFF;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--first-color);
  font-size: 30px
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-group {
  flex-grow: 1;
}

.form-control-file {
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 10px;
  height: 100%; /* Make the button's height match the form's height */
}

.btn-danger {
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/* Table Styles */
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  color: var(--first-color);
  background-color: #fff;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(63, 81, 181, 0.05);
}

.table-hover tbody tr {
  background-color: inherit;
}

.table-hover tbody tr:hover {
  color: var(--first-color);
  background-color: rgba(63, 81, 181, 0.075);
}

.thead-dark th {
  border-radius: 8px;
  color: #fff;
  background-color: var(--third-color);
  border-color: #0fb6d6;
}

.generate-graphs{
    margin-top: 20px;
    text-align: center;
}

.generate-graphs .btn {
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(90deg, #19D3AE -22.5%, #0FCFEC 120.83%);
  padding: 15px;
  color: white;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.generate-graphs:hover {
  background-color: #ffff;
}