<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded File Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_graph.css') }}">
</head>
<body>
    <div class="analysis">
        <h1 class="mt-4">Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='line_plot_tpr.png') }}" class="img-fluid mb-3" alt="heat_map_tpr.png">
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='scatter_plot_literacy.png') }}" class="img-fluid mb-3" alt="scatter_plot_literacy">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='line_plot_survival.png') }}" class="img-fluid mb-3" alt="line_plot_survival">
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='bar_plot_textbook.png') }}" class="img-fluid mb-3" alt="bar_plot_textbook">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='outlier_plot_budget.png') }}" class="img-fluid mb-3" alt="outlier_plot_budget">
            </div>
        </div>
    </div>
</body>
</html>